.search-area {

    margin-left: 90px;
    margin-top: 55px;
    margin-right: 100px;
    background: #E6F7FF;
    border-radius: 16px;
    padding-left: 95px;
    padding-top: 65px;
    height: 200px;

}

.form-title {

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;

}

.search-box {
    border: #737373;
    background: #FFF;
    margin-top: 12px;
    width: 676px;
    height: 40px;
}

.btn-search {
    margin-top: 25px;
    margin-bottom: 40px;
}
