.home-container {

    padding-top: 117px;
    padding-left: 120px;

}

.text-title {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
    margin-bottom: 25px;
    margin-right: 740px;
}

.text-subtitle {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    margin-bottom: 50px;
    margin-right: 710px;
}


.text-email {
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #1890FF;
}