.result-area {
    margin-left: 90px;
    margin-top: 55px;
    margin-right: 100px;
    background: #F5F5F5;
    border-radius: 8px;
    padding-left: 30px;
    padding-top: 25px;
    display:flex;
}

