.main-nav {
    display: flex;
    height: 60px;
    background: #1890FF;
    align-items: center;
    padding-left: 40px;
    margin-left: 0;
    margin-right: 0;
}

.nav-logo-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFF;
}
